<div class="main">
  <div class="image"></div>
  <div class="text">
    <div class="title">{{type}} by {{actor.login}}</div>
    <div class="sub-title">
      <span class="point">{{createdAt}}</span>
      <span class="point">{{repo.name}}</span>
    </div>
  </div>
</div>
