<div class="main media">
  <div class="image placeholder"></div>
  <div class="text">
    <div class="title">{{type}} by {{actor.login}}</div>
    <div class="sub-title">
      <span class="point">{{from-now createdAt}}</span>
      <span>{{repo.name}}</span>
    </div>
  </div>
</div>
