// Layout

section#app {
  @include outer-container;
  @include pad;

  header#header {
    @include row;
    .logo { @include span-columns(1); }
  }

  #body {
    @include span-columns(12);

    @include media($large-screen) {
      @include span-columns(8 of 12);
      @include shift(2 of 12);
    }
  }

  section#search {
    @include pad;
  }

  section#results {
    @include pad;
    $results-item-height: 54px;

    .main {
      min-height: $results-item-height;
      margin-bottom: flex-gutter();
      .image {
        float: left;
        width: $results-item-height;
        height: $results-item-height;
        margin-right: flex-gutter();
        &.placeholder { background-color: $light-gray; }
      }
    }
  }
}


// Logo

.github-logo {
  display: block;
  background-image: image-url('GitHub-Mark-120px-plus.png');
  text-indent: -999em;
  background-size: $logo-width;
  width: $logo-width;
  height: $logo-width;
  margin: 0 auto;
}
